<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Car</title>
    <link rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="~{cars/header :: header}"></div>
<form th:action="@{/cars}" th:method="POST" th:object="${car}">
    <label for="name">Car name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error
    </div>
    <br>

    <label for="brand">Car brand:</label>
    <input type="text" id="brand" name="brand" th:field="*{brand}" required>
    <div style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand Error
    </div>
    <br>

    <label for="country">Car country:</label>
    <input type="text" id="country" name="country" th:field="*{country}" required>
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
        country Error
    </div>
    <br>

    <label for="horsepower">Car horsepower:</label>
    <input type="text" inputmode="decimal" id="horsepower" name="horsepower" pattern="[0-9]*[.,]?[0-9]*"
           th:field="*{horsepower}" required>
    <div style="color:red" th:if="${#fields.hasErrors('horsepower')}" th:errors="*{horsepower}">horsepower Error
    </div>
    <br>

    <label for="price">Car price:</label>
    <input type="text" inputmode="decimal" id="price" name="price" pattern="[0-9]*[.,]?[0-9]*"
           th:field="*{price}" required>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error
    </div>
    <br>

    <button type="submit" name="action">Submit</button>
</form>
</body>
</html>